<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nastenka</title>
</head>
<body>
<include href="rozcestnik.html" />
<h1>Seznam závodů</h1>

{{@zavody_error}}



Nezapočaté závody
<table>
    <thead>
    <th>ID</th>
    <th>Jméno</th>
    <th>Datum</th>
    <th>Čas</th>
    <th>Start</th>
    <th>Cíl</th>
    <th>Délka</th>
    <th>Stav</th>
    <th>Zavodnici v zavode</th>
    <th>Start</th>

    </thead>
    <tbody>
    <repeat group="{{@zavody}}" value="{{@zavod}}">
        <check if="{{@zavod.stav==0}}">
        <tr>
            <td>{{@zavod.id}}</td>
            <td>{{@zavod.jmeno}}</td>
            <td>{{@zavod.datum}}</td>
            <td>{{@zavod.cas}}</td>
            <td>{{@zavod.start}}</td>
            <td>{{@zavod.cil}}</td>
            <td>{{@zavod.delka}}</td>
            <td>{{@zavod.stav}}</td>

            <td>
                <form method="POST" action="adminSeznamZavodniku/">
                    <input type="hidden" name="id_zavodu" value="{{@zavod.id}}">
                    <input type="submit" value="Zobrazit zavodniky">
                </form>

            </td>

            <td>
                <form method="POST" action="start/">
                    <input type="hidden" name="id_zavodu" value="{{@zavod.id}}">
                    <input type="submit" value="Start">
                </form>

            </td>

        </tr>
        </check>
    </repeat>
    </tbody>
</table>

<br>

Závody v běhu
<table>
    <thead>
    <th>ID</th>
    <th>Jméno</th>
    <th>Datum</th>
    <th>Čas</th>
    <th>Start</th>
    <th>Cíl</th>
    <th>Délka</th>
    <th>Stav</th>
    <th>Zavodnici v zavode</th>
    <th>Ukončit</th>

    </thead>
    <tbody>
    <repeat group="{{@zavody}}" value="{{@zavod}}">
        <check if="{{@zavod.stav==1}}">
            <tr>
                <td>{{@zavod.id}}</td>
                <td>{{@zavod.jmeno}}</td>
                <td>{{@zavod.datum}}</td>
                <td>{{@zavod.cas}}</td>
                <td>{{@zavod.start}}</td>
                <td>{{@zavod.cil}}</td>
                <td>{{@zavod.delka}}</td>
                <td>{{@zavod.stav}}</td>

                <td>
                    <form method="POST" action="adminSeznamZavodniku/">
                        <input type="hidden" name="id_zavodu" value="{{@zavod.id}}">
                        <input type="submit" value="Zobrazit zavodniky">
                    </form>

                </td>

                <td>
                    <form method="POST" action="konec/">
                        <input type="hidden" name="id_zavodu" value="{{@zavod.id}}">
                        <input type="submit" value="Konec">
                    </form>

                </td>

            </tr>
        </check>
    </repeat>
    </tbody>
</table>

<br>

Ukončené závody
<table>
    <thead>
    <th>ID</th>
    <th>Jméno</th>
    <th>Datum</th>
    <th>Čas</th>
    <th>Start</th>
    <th>Cíl</th>
    <th>Délka</th>
    <th>Stav</th>
    <th>Pořadník</th>

    </thead>
    <tbody>
    <repeat group="{{@zavody}}" value="{{@zavod}}">
        <check if="{{@zavod.stav==2}}">
            <tr>
                <td>{{@zavod.id}}</td>
                <td>{{@zavod.jmeno}}</td>
                <td>{{@zavod.datum}}</td>
                <td>{{@zavod.cas}}</td>
                <td>{{@zavod.start}}</td>
                <td>{{@zavod.cil}}</td>
                <td>{{@zavod.delka}}</td>
                <td>{{@zavod.stav}}</td>

                <td>
                    <form method="POST" action="poradnik/">
                        <input type="hidden" name="id_zavodu" value="{{@zavod.id}}">
                        <input type="submit" value="Zobrazit pořadník">
                    </form>

                </td>

            </tr>
        </check>
    </repeat>
    </tbody>
</table>

</body>
</html>
