<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>{{@title}}</title>
    <style>
        body {
            text-align: center;
        }
        h1 {
            font-size: 36px;
        }
        a.button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007BFF;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            margin: 10px;
        }
    </style>
</head>
<body>
<h1>Vítejte na chatu</h1>
<a href="prihlaseni/" class="button">Přihlásit</a>
<a href="registrace/" class="button">Registrovat</a>
</body>
</html>
