<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nastenka</title>
</head>
<body>
<include href="rozcestnik.html" />

<h1>Domovská obrazovka</h1>






{{@nastenkaError}}

<table>
    <thead>
    <th>ID</th>
    <th>Jméno</th>
    <th>Datum</th>
    <th>Čas</th>
    <th>Start</th>
    <th>Cíl</th>
    <th>Délka</th>
    <th>Stav</th>
    <th>Přihlási se</th>
    </thead>
    <tbody>
    <repeat group="{{@zavody}}" value="{{@zavod}}">
            <tr>
                <td>{{@zavod.id}}</td>
                <td>{{@zavod.jmeno}}</td>
                <td>{{@zavod.datum}}</td>
                <td>{{@zavod.cas}}</td>
                <td>{{@zavod.start}}</td>
                <td>{{@zavod.cil}}</td>
                <td>{{@zavod.delka}}</td>
                <td>{{@zavod.stav}}</td>
                <td>
                    <form method="POST" action="registrovat-do-zavodu/">
                        <input type="hidden" name="id_zavodnika" value="{{@SESSION.user.id}}">
                        <input type="hidden" name="id_zavodu" value="{{@zavod.id}}">
                        <input type="submit" value="Přihlásit">
                    </form>
                </td>
            </tr>
    </repeat>
    </tbody>
</table>

</body>
</html>
