<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pořadník</title>
</head>
<body>
<include href="rozcestnik.html" />

<h1>Pořadník závodu {{@zavod.jmeno}}</h1>
<table>
    <thead>
    <tr>
        <th>ID závodníka</th>
        <th>ID závodu</th>
        <th>Délka závodu</th>
        <th>Pořadí</th>
    </tr>
    </thead>
    <tbody>
    <repeat group="{{@zavodnici}}" value="{{@zavodnik}}">
        <tr>
            <td>{{@zavodnik.id_zavodnika}}</td>
            <td>{{@zavodnik.id_zavodu}}</td>
            <td>{{@zavodnik.delka_zavodu}}</td>
            <td>{{@zavodnik.poradi}}</td>
        </tr>
    </repeat>
    </tbody>
</table>
</body>
</html>