<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Přihaste se</title>
</head>
<body>
<div class="container">
    <form method="POST">
        <label for="email">Email: </label>
        <input type="text" id="email" name="email" reguiered placeholder="Email" >

        <br>

        <label for="heslo">Heslo: </label>
        <input type="password" id="heslo" name="heslo" reguiered placeholder="Heslo" >

        <br>

        <input type=submit value="Přihlásit se">

    </form>
</div>

Pokud eště nemáte účet můžete se <a href="registrace/">registrovat</a>
</body>
</html>